set timeout=2
set default=0
set gfxmode=640x480x32
set gfxpayload=keep

menuentry "Creeper's OS" {
    multiboot /kernel.elf lololol
    set gfxpayload=1024x768x32

    module /initrd.tar "initrd"
    
    boot
}

